/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background-color: rgba(105, 105, 105, 0.06);
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Z-index's Index
  #header:999
  *.held:9999
  .post-link-img
    .post-link-img:1
    .post-link-overlay:2
    .post-link-text-container:3

*/

/* CONFIGURATION CSS */
html{
  font-family: 'Open Sans';
  font-size: 14px;
  min-width: 250px;
  overflow-x: hidden;
  position: relative;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* OBJECT ORIENTED CSS */
.blue{
  color: #4676B6;
}

.hidden{
  max-height: 0;
}

.clearfix{
  content:"";
  display: table;
  clear:both;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pressed{
  background-color: #4676B6 !important;
  color: white !important;
}

.card{
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2{
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-hover{
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
     -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

/* JQUERY Specific */
.post-transition{
  transition: transform .2s !important;
}

.held{
  opacity:  0.95;
  z-index:  9999 !important;
}

/* MAIN CSS */

#header{
  background-color:      white;
  height:                78px;
  line-height:           78px;
  padding:               0 15px;
  position:              relative;
  width:                 100%;
  z-index:               999;
  }
  #header-overlay{
    background-color: rgba(0, 0, 0, 0.64);
    height:           100%;
    position:         absolute;
      left:           0;
      top:            0;
    width:            100%;
  }
  #logo{
    float:       left;
    position:    relative;
    font-size:   18px;
    }
    #logo-img{
      height:       30px;
      position:     relative;
      top:          7px;
      margin-right: 5px;
  }

  #header-hashtag{
    float:         right;
    font-size:     16px;
    overflow:      hidden;
    position:      relative;
    text-align:    right;
    text-overflow: ellipsis;
    width:         150px;

}/* ##header */

#feature-header{
  background-color: #4676B6;
  color:            white;
  display:          none;
  font-size:        19px;
    font-weight:    bold;
  height:           78px;
  padding:          30px 15px;
  position:         fixed;
    left: 0;
    top:  0;
  text-align:       center;
  width:            100%;
  z-index:          10000;

  -webkit-transition: background-color .25s;
     -moz-transition: background-color .25s;
          transition: background-color .25s;
  }

  .on-feature{
    background-color: #4DB972 !important;
  }

  .off-feature{
  }

#actions-container{
  height:   100vh;
  opacity: 0.8;
  position: fixed;
    left: 0;
    top:  0;
  width:    100vw;

  -webkit-transition: opacity .5s;
     -moz-transition: opacity .5s;
          transition: opacity .5s;  
  }
  #bg-1{
    background-color: #0BD00B;
    height:           100%;
    opacity:          0;
    position:         absolute;
    width:            100%;
  }
  #bg-2{
    background-color: red;
    height:           100%;
    opacity:          0;
    position:         absolute;
    width:            100%;
}

.posts-container{
  display:    inline-block;
  overflow-x: hidden;
  padding:    15px 0;
  position:   relative;
  width:      100%;
  }

  .post-container{
    margin-bottom: 20px;
    position:      relative;
    transition:    opacity .2s;
  }

  .post{
    
    margin:        0 5px;
    position:      relative;
    transition:    transform .2s, box-shadow .2s, max-height 2s;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout:       none;
    -webkit-user-select:         none;   
    }

    .post-header{
      max-height:       60px;
      overflow:         hidden;
      padding:          15px;
      background-color: white;
      }

      .post-user-img-container{
        display: block;
        float: left;
        max-height: 30px;
        }

        .post-user-img{
          border-radius: 50%;
          height: 30px;
      }

      .post-credentials{
          float: left;
          line-height: 16px;
          max-height: 28px;
          padding-left: 10px;
          width: 70%;
        }

        .post-username{
          font-size: 11px;
        }
        .post-hashtag{
          height: 18px;
      }

      .post-share-container{
          float: right;
        }

        .post-share-button{
          height: 28px;
          width: 28px;
    } /* #.post-header */

    .post-content{

      }

      .post-img-container{

        }

        .post-img{
          display: block;
          width: 100%;
      } /* #.post-img-container */

      .post-video-container{
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        position: relative;
          left: -5px;
        width: 100vw;
        }

        .post-video{
          height: 100%;
          position: absolute;
            left: 0;
            top: 0;
          width: 100%;
        }
        .post-video-layer{
          height: 100%;
          position: absolute;
            left: 0;
            top: 0;
          width: 100%;
      } /* #.post-video-container */

      .post-link-anchor{
        position: relative;
          left: -5px;

        width: 100%;
        }
        .post-link-anchor:link, .post-link-anchor:visited, .post-link-anchor:hover, .post-link-anchor:active{
          text-decoration: none;
      } /* #.post-link-anchor */

      .post-link-container{
        border-radius: 2px;
        color:         white;
        height:        250px;
        overflow:      hidden;
        padding:       15px;
        position:      relative;
        width:         100vw;
        }
        .post-link-img{
          background-size: cover;
          background-position: center;
          height: 100%;
          position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
          width: 100%;
        }
        .post-link-overlay{
          background-color: rgba(0, 0, 0, 0.4);
          height: 100%;
          position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
          width: 100%;
        }
        .post-link-text-container{
          height:   100%;
          position: relative;
            z-index: 3;
          width:    100%;
        }
        .post-link-title{
          display: -webkit-box;
          font-size: 22px;
          font-weight: bold;
          line-height: 30px;
          overflow: hidden;

          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .post-link-description{
          display: -webkit-box;
          font-size: 12px;
          line-height: 20px;
          overflow: hidden;
          padding-top: 15px;
          width: 90%;

          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .post-link-click{
          font-size: 15px;
          font-weight: bold;
          position: absolute;
            bottom: 0px;
      } /* #.post-link-container */

      .post-text-container{
        background-color: white;
        overflow: hidden;
        padding: 0 15px;
        word-break: break-word;
        }
        .post-text-title{
          font-size:   25px;
          line-height: 30px;
          padding-top: 15px;
        }
        .post-text-body{
          line-height: 2;
          padding-top: 15px;
    }/* #.post-text-container #.post-content */
    
    .related-container{
      background-color: white;
      font-size:        11px;
        font-weight:    bold;
      overflow:         hidden;
      padding:          20px 10px;
      }
      .related:link, .related:visited, .related:hover, .related:active{
        color:           #4676B6;
        text-decoration: none;
      }
      .related{
        border:           solid 2px #4676B6;
          border-radius:  4px;
        display:          inline-block;
        margin:           10px 5px 0px;
        max-width:        280px;
        padding:          7px 6px;

        -webkit-box-shadow: 0px 0px 1px 0px #4676B6;
           -moz-box-shadow: 0px 0px 1px 0px #4676B6;
                box-shadow: 0px 0px 1px 0px #4676B6;

  }/* #.post */
    




