{% extends "partials/post/_post.html" %}

{% block post_content %}
    <a href="{{ url_for('show_post_richcontent', hashtag_slug=hashtag.slug, post_slug=post.slug, post_id=post.id) }}" class="post-link-anchor full-screen-feature clearfix feature">
        <div class="post-link-container card-2">
            <div class="post-link-img" style="background-image: url('{{ post.cover }}')"></div>
            <div class="post-link-overlay"></div>
            <div class="post-link-text-container clearfix">
                <div class="post-link-title">{{ post.title }}</div>
                {% if short_post %}
                    <div class="post-link-click">(Clique para ver link...)</div>
                {% endif %}
            </div>
        </div>
        {% if not short_post %}
        <div class="post-text-container">
            <div class="post-text-body">{{ post.html|safe }}</div>
        </div>
        {% endif %}
    </a>
{% endblock %}
