{% extends "partials/post/_post.html" %}

{% block post_title %}
    {% if post.payload.title %}
        <div class="post-text-title">{{ post.payload.title }}</div>
    {% endif %}
{% endblock %}

{% block post_content %}
    <div class="post-video-container card-2 clearfix">
        <div class="scraper-jquery" href="{{feature.url}}">
          <img class="centered" src="{{ url_for('static', filename='img/l.gif') }}" width=30>
        </div>
        <div class="post-video-layer"></div>
    </div>
{% endblock %}