{% extends "base.html" %}

{% block title %}
    #{{ hashtag.name }}
{% endblock %}

{% block main %}
    <div id="actions-container">
        <div id="bg-1"></div>
        <div id="bg-2"></div>
    </div>
    <div class="posts-container" data-hashtag-slug="{{hashtag.slug}}">
        {% for post in posts.models %}

            {% set feature = post.payload %}
            {% set richcontent = post.richcontent %}

            {% if not feature and not richcontent %}
                {% set post_type = 'text' %}
            {% elif not feature and richcontent %}
                {% set post_type = 'rich' %}
            {% elif not feature.is_image and not feature.is_video %}
                {% set post_type = 'link' %}
            {% elif feature.is_image %}
                {% set post_type = 'image' %}
            {% elif feature.is_video %}
                {% set post_type = 'video' %}
            {% endif %}
      
            {% include "partials/post/_%s.html" % post_type %}

        {% endfor %}
    </div>
{% endblock %}
