{% extends "base.html" %}

{% block header %}
    <div id="header" class="card">
      <span id="logo"><img id="logo-img" src="/static/img/insta.png">Instablah</span>
      <span id="header-hashtag" class="truncate">#{{hashtag.name}}</span>
    </div>
    <div id="share" class="card-2">
      <img id="share-img" src="{{ url_for('static', filename='img/whats-w.png') }}">
    </div>
{% endblock %}

{% block main %}
    <div id="like-container">
        <div id="like-container-like"></div>
        <div id="like-container-dislike"></div>
    </div>
    <div id="posts-container">
        {% for post in posts.models %}

            {% set feature = post.payload %}
            {% set richcontent = post.richcontent %}

            {% if not feature and not richcontent %}
                {% set post_type = 'text' %}
            {% elif not feature and richcontent %}
                {% set post_type = 'rich' %}
            {% elif not feature.is_image and not feature.is_video %}
                {% set post_type = 'link' %}
            {% elif feature.is_image %}
                {% set post_type = 'image' %}
            {% elif feature.is_video %}
                {% set post_type = 'video' %}
            {% else %}
                {% set post_type = 'impossible' %}
            {% endif %}
      
            {% include "partials/post/_%s.html" % post_type %}

        {% endfor %}
    </div>
{% endblock %}
