{% extends "base.html"%}

{% block title %}
    Instablah
{% endblock %}

{% block main %}
    <div class="posts-container">
        {% set feature = post.payload %}

        {% if not feature and not post.richcontent %}
            {% set post_type = 'text' %}
        {% elif not feature and post.richcontent %}
            {% set post_type = 'rich' %}
        {% elif not feature.is_image and not feature.is_video %}
            {% set post_type = 'link' %}
        {% elif feature.is_image %}
            {% set post_type = 'image' %}
        {% elif feature.is_video %}
            {% set post_type = 'video' %}
        {% endif %}
        
        {% include "partials/post/_%s.html" % post_type %}
    </div>
{% endblock %}
